<body class="ng-scope">
  <div id="container">
    <div>
      <a class="logomd" href="/">
        <img src="../../../assets/images/coinsaver_logo-removebg-preview.png"></a>
      <div class="ng-scope">
        <h2 class="container-title">TECNOLOGIAS UTILIZADAS</h2>

        <div class="cards">
          <mat-card class="card" style="background: none;">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>brModelo3</mat-card-title>
                <mat-card-subtitle style="color: black;">Modelagem do banco de dados</mat-card-subtitle>
                <img mat-card-sm-image src="../../../../assets/images/brmodelo3.png">
              </mat-card-title-group>
            </mat-card-header>
          </mat-card>

          <mat-card class="card" style="background: none;">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>Canva</mat-card-title>
                <mat-card-subtitle style="color: black;">Prototipação da solução</mat-card-subtitle>
                <img mat-card-sm-image src="../../../../assets/images/canva.svg">
              </mat-card-title-group>
            </mat-card-header>
          </mat-card>
        </div>

        <div class="cards">
          <mat-card class="card" style="background: none;">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>Angular</mat-card-title>
                <mat-card-subtitle style="color: black;">Frontend</mat-card-subtitle>
                <img mat-card-sm-image src="../../../../assets/images/angular.png">
              </mat-card-title-group>
            </mat-card-header>
          </mat-card>

          <mat-card class="card" style="background: none;">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>Angular Material</mat-card-title>
                <mat-card-subtitle style="color: black;">Estilização da solução</mat-card-subtitle>
                <img mat-card-sm-image src="../../../../assets/images/angular material.png">
              </mat-card-title-group>
            </mat-card-header>
          </mat-card>

          <mat-card class="card" style="background: none;">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>Angular PrimeNG</mat-card-title>
                <mat-card-subtitle style="color: black;">Estilização da solução</mat-card-subtitle>
                <img mat-card-sm-image src="../../../../assets/images/angular primeng.png">
              </mat-card-title-group>
            </mat-card-header>
          </mat-card>
        </div>

        <div class="cards">
          <mat-card class="card" style="background: none;">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>Java</mat-card-title>
                <mat-card-subtitle style="color: black;">Backend</mat-card-subtitle>
                <img mat-card-sm-image src="../../../../assets/images/java.png">
              </mat-card-title-group>
            </mat-card-header>
          </mat-card>

          <mat-card class="card" style="background: none;">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>SpringBoot</mat-card-title>
                <mat-card-subtitle style="color: black;">Framework de aplicação</mat-card-subtitle>
                <img mat-card-sm-image src="../../../../assets/images/springboot.png">
              </mat-card-title-group>
            </mat-card-header>
          </mat-card>
        </div>

        <div class="cards">
          <mat-card class="card" style="background: none;">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>H2</mat-card-title>
                <mat-card-subtitle style="color: black;">Banco de dados</mat-card-subtitle>
                <img mat-card-sm-image src="../../../../assets/images/banco de dados h2.png">
              </mat-card-title-group>
            </mat-card-header>
          </mat-card>
        </div>

        <div id="acoes">
          <a href="/">Voltar</a>
        </div>
      </div>
    </div>
  </div>
