<p-toast></p-toast>
<body class="ng-scope">
  <div id="container">
    <div>
      <!-- <a class="logomd"><img src="../../../../assets/images/coinsaver_logo-removebg-preview.png"></a> -->
      <div class="ng-scope">
        <div class="header-modal">
          <h2 class="container-title">Cadastrar Nova Transação</h2>
          <p-button (onClick)="fecharModal()" icon="pi pi-times" styleClass="p-button-rounded p-button-danger"></p-button>
        </div>

        <div class="formulario-nova-transacao">

          <!-- <div>
            <mat-form-field class="mat-form-field" appearance="fill">
              <mat-label>Tipo Categoria</mat-label>
              <mat-select type="text" [formControl]="categoryTypeControl"
                [(ngModel)]="transactionRequestDto.description" name="description">
                <mat-option value="ELECTRONIC">Eletrônicos</mat-option>
                <mat-option value="HEALTH">Saúde</mat-option>
                <mat-option value="HOME">Casa</mat-option>
                <mat-option value="RESTAURANT">Restaurante</mat-option>
                <mat-option value="OTHER">Outras</mat-option>
              </mat-select>
            </mat-form-field>
          </div> -->

          <div>
            <mat-form-field class="mat-form-field" appearance="fill">
              <mat-label>Categoria Tipo Transação</mat-label>
              <mat-select type="text" [formControl]="transactionCategoryTypeControl"
                [(ngModel)]="transactionRequestDto.category" name="category"
                (selectionChange)="defineCategoria(transactionRequestDto.category)">
                <mat-option value="INCOME">Recebido</mat-option>
                <mat-option value="EXPENSE">Despesa</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div *ngIf="isStatusIncome">
            <mat-form-field class="mat-form-field" appearance="fill">
              <mat-label>Status da Transação</mat-label>
              <mat-select type="text" [formControl]="statusTypeControl"
                [(ngModel)]="transactionRequestDto.status" name="status">
                   <mat-option value="RECEIVED">Recebida</mat-option>
                <mat-option value="NOT_RECEIVED">Não Recebida</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="mat-form-field" appearance="fill">
              <mat-label>Recebimentos Fixos? (infinitas repetições)</mat-label>
              <mat-select type="text" [formControl]="fixedExpenseControl"
                [(ngModel)]="transactionRequestDto.fixedExpense" name="fixedExpense"
                (selectionChange)="defineRepeticao(transactionRequestDto.fixedExpense)">
                <mat-option value="true">Sim</mat-option>
                <mat-option value="false">Não</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="isRepeticao" class="mat-form-field" appearance="fill">
              <mat-label>Repete quantas vezes? Deve ser acima de 1.</mat-label>
              <input matInput type="number" class="example-right-align"
                [(ngModel)]="transactionRequestDto.repeat" name="repeat">
            </mat-form-field>

            <mat-form-field class="mat-form-field" appearance="fill">
              <mat-label>Data Inicial do Recebimento</mat-label>
              <input type="text" matInput placeholder="AAAA-MM-DD"
                [(ngModel)]="transactionRequestDto.payDay" name="payDay">
            </mat-form-field>
          </div>

          <div *ngIf="isStatusExpense">
            <mat-form-field class="mat-form-field" appearance="fill">
              <mat-label>Status da Transação</mat-label>
              <mat-select type="text" [formControl]="statusTypeControl"
                [(ngModel)]="transactionRequestDto.status" name="status">
                <mat-option value="PAID">Paga</mat-option>
                <mat-option value="NOT_PAID">Não Paga</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="mat-form-field" appearance="fill">
              <mat-label>Despesa Fixa? (infinitas repetições)</mat-label>
              <mat-select type="text" [formControl]="fixedExpenseControl"
                [(ngModel)]="transactionRequestDto.fixedExpense" name="fixedExpense"
                (selectionChange)="defineRepeticao(transactionRequestDto.fixedExpense)">
                <mat-option value="true">Sim</mat-option>
                <mat-option value="false">Não</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="isRepeticao" class="mat-form-field" appearance="fill">
              <mat-label>Repete quantas vezes? Deve ser acima de 1.</mat-label>
              <input matInput type="number" class="example-right-align"
                [(ngModel)]="transactionRequestDto.repeat" name="repeat">
            </mat-form-field>

            <mat-form-field class="mat-form-field" appearance="fill">
              <mat-label>Data Inicial do Pagamento</mat-label>
              <input type="text" matInput placeholder="AAAA-MM-DD"
                [(ngModel)]="transactionRequestDto.payDay" name="payDay">
            </mat-form-field>
          </div>

          <!-- <div *ngIf="isRepeticao">
            <mat-form-field class="mat-form-field" appearance="fill">
              <mat-label>Repete quantas vezes? Deve ser acima de 1.</mat-label>
              <input matInput type="number" class="example-right-align"
                [(ngModel)]="transactionRequestDto.repeat" name="repeat">
            </mat-form-field>
          </div> -->

          <div>
            <mat-form-field class="mat-form-field" appearance="fill">
              <mat-label>Descrição</mat-label>
              <input type="text" matInput placeholder="Descrição"
                [(ngModel)]="transactionRequestDto.description" name="description">
            </mat-form-field>
          </div>

          <div>
            <mat-form-field class="mat-form-field" appearance="fill">
              <mat-label>Valor</mat-label>
              <input matInput type="number" class="example-right-align" placeholder="R$ 0,00"
                [(ngModel)]="transactionRequestDto.amount" name="amount">
            </mat-form-field>
          </div>

          <div>

          </div>

          <!-- <div>
            <mat-form-field class="mat-form-field" appearance="fill">
              <mat-label>Tipo Transação</mat-label>
              <mat-select [formControl]="transactionTypeControl">
                <mat-option value="INSTALLMENT">A prazo</mat-option>
                <mat-option value="IN_CASH">Dinheiro</mat-option>
                <mat-option value="FIX">Fixa Mensal</mat-option>
              </mat-select>
            </mat-form-field>
          </div> -->

          <div class="input-container ng-scope" style="margin-top: 20px">
            <button type="submit" class="btn ng-binding" (click)="createTransaction(transactionRequestDto)">
              Cadastrar
            </button>
          </div>

        </div>

        <!-- <div id="acoes" class="ng-scope">
          <a href="/usuario-logado-page">Sair</a>
        </div> -->
      </div>
    </div>
  </div>
</body>
