<p-toast></p-toast>
<body class="ng-scope">
 <div id="container">
      <div>
          <a href="/" class="logomd"><img src="../../../../assets/images/coinsaver_logo-removebg-preview.png"></a>
          <h2 class="container-title">Redefinir senha de acesso</h2>
          <form name="form" autocomplete="off" ng-submit="vm.enviarEmail()" ng-if="!vm.enviado &amp;&amp; !vm.redefinir" class="ng-pristine ng-scope ng-valid-email ng-invalid ng-invalid-required">
            <mat-form-field class="mat-form-field" appearance="fill">
              <mat-label>Email Cadastrado</mat-label>
              <input type="email" matInput [formControl]="emailFormControl"
                placeholder="email@example.com" [(ngModel)]="authenticationRequestDto.email"
                name="email">
            </mat-form-field>
              <div class="input-container ng-scope" style="margin-top: 20px">
                  <button type="submit" class="btn ng-binding" (click)="redefinirSenha(authenticationRequestDto)">Redefinir senha</button>
              </div>
          </form>

          <div id="acoes" class="ng-scope">
              <a href="/login-page">Voltar</a>
          </div>
      </div>
  </div>
