@charset "UTF-8";html {
  font-size: 10px
}

body {
  font-size: 1.4rem;
  background-color: #f5f5f5;
  font-family: "Open Sans",sans-serif;
  color: #444;
  margin: 0;
  overflow-y: auto;
  height: 777px;
}

#container {
  text-align: center;
  width: 800px;
  padding: 30px 30px;
  box-sizing: border-box
}

#container .logomd {
  display: block;
  margin-bottom: 50px
}

#container .logomd>img {
  width: 200px
}

#container>div {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.07),0 3px 1px -2px rgba(0,0,0,.06),0 1px 5px 0 rgba(0,0,0,.1);
  background: #fff;
  padding-bottom: 50px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  border-radius: 6px
}

#container>div .container-title {
  text-align: center;
  margin: 0;
  padding: 0 0 20px 0;
  color: #555;
  font-size: 22px;
  margin-bottom: 10px
}

#container>div .btn {
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #fe801f;
  height: 48px;
  padding: 8px 16px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.07),0 3px 1px -2px rgba(0,0,0,.06),0 1px 5px 0 rgba(0,0,0,.1);
  letter-spacing: .01em;
  font-weight: 600;
  outline: 0;
  text-decoration: none;
  cursor: pointer;
  width: 34%;
  font-size: 16px;
  transition: background-color 150ms cubic-bezier(.4,0,.2,1)
}

#container>div #acoes {
  margin-top: 20px
}

#container>div .btn:hover {
  background-color: #009e92;
  color: #fff
}

#container>div #acoes a {
  text-decoration: none;
  color: #fe801f
}

#container>div #acoes a.warn {
  color: red
}

a {
  text-decoration: none;
  color: #fe801f
}

.mat-form-field {
  width: 34%;
}
