<body class="ng-scope">
  <div id="container">
    <div>
      <a class="logomd" href="/">
        <img src="../../../assets/images/coinsaver_logo-removebg-preview.png"></a>
      <div class="ng-scope">
        <h2 class="container-title">REFERÊNCIAS</h2>

        <div class="cards">

          <mat-card class="card" style="background: none;">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>Minhas Economias</mat-card-title>
                <mat-card-subtitle style="color: black;">https://minhaseconomias.com.br/</mat-card-subtitle>
                <img style="width: 180px;" mat-card-md-image src="../../../../assets/images/minhas economias.png">
              </mat-card-title-group>
            </mat-card-header>
          </mat-card>

          <mat-card class="card" style="background: none;">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>Mobils</mat-card-title>
                <mat-card-subtitle style="color: black;">https://www.mobills.com.br/</mat-card-subtitle>
                <img style="width: 180px;" mat-card-md-image src="../../../../assets/images/mobils.png">
              </mat-card-title-group>
            </mat-card-header>
          </mat-card>

          <mat-card class="card" style="background: none;">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>Meu Dinheiro</mat-card-title>
                <mat-card-subtitle style="color: black;">https://www.meudinheiroweb.com.br/</mat-card-subtitle>
                <img style="width: 180px;" mat-card-md-image src="../../../../assets/images/meu dinheiro.png">
              </mat-card-title-group>
            </mat-card-header>
          </mat-card>

          <mat-card class="card" style="background: none;">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>Organizze</mat-card-title>
                <mat-card-subtitle style="color: black;">https://www.organizze.com.br/</mat-card-subtitle>
                <img style="width: 180px;" mat-card-md-image src="../../../../assets/images/organizze.png">
              </mat-card-title-group>
            </mat-card-header>
          </mat-card>

        </div>

        <div id="acoes">
          <a href="/">Voltar</a>
        </div>
      </div>
    </div>
  </div>
