<p-toast></p-toast>
<body class="ng-scope">
  <div id="container">
    <div>
      <a class="logomd" href="/">
        <img src="../../../assets/images/coinsaver_logo-removebg-preview.png"></a>
      <div class="ng-scope">
        <h2 class="container-title">Acesse sua conta</h2>

        <div class="formulario-login">

           <div>
            <form>
              <mat-form-field class="mat-form-field" appearance="fill">
                <mat-label>Email</mat-label>
                <input type="email" matInput [formControl]="emailFormControl"
                  placeholder="email@example.com" [(ngModel)]="authenticationRequestDto.email"
                  name="email" required>
              </mat-form-field>
            </form>
          </div>

          <div>
            <mat-form-field class="mat-form-field" appearance="fill">
              <mat-label>Senha</mat-label>
              <input [type]="hideSenha ? 'password' : 'text'" matInput placeholder="Digite sua senha"
                [(ngModel)]="authenticationRequestDto.password" name="password" required>
              <button mat-icon-button matSuffix (click)="hideSenha = !hideSenha" [attr.aria-label]="'HideSenha password'" [attr.aria-pressed]="hideSenha">
                <mat-icon>{{hideSenha ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </div>

          <button type="submit" class="btn ng-binding" (click)="fazerLoginUsuarioPage(authenticationRequestDto)">Fazer Login</button>
        </div>

        <div id="acoes">
          <button class="btn ng-binding" (click)="showModalRedefinirSenha()">Esqueci minha senha</button>
        </div>
        <div id="acoes">
          <a href="/">Pagina Inicial</a>
        </div>
      </div>
    </div>
  </div>
