<body class="ng-scope">
  <div id="container">
    <div>
      <a class="logomd" href="/">
        <img src="../../../assets/images/coinsaver_logo-removebg-preview.png"></a>
      <div class="ng-scope">
        <h2 class="container-title">Acesse sua conta</h2>
        <form name="form" autocomplete="off" class="ng-pristine ng-invalid ng-invalid-required ng-valid-minlength ng-valid-email">

          <h2>MONTAR FORM DE CADASTRO</h2>
          <button type="submit" class="btn ng-binding">Fazer Login</button>
        </form>
        <div id="acoes">
          <a ng-href="/esqueciminhasenha" href="/esqueciminhasenha">Esqueci minha senha</a>
        </div>
        <div id="acoes">
          <a href="/cadastro-page" (click)="abrirCadastroPage()">Criar nova conta</a>
        </div>
        <div id="acoes">
          <a href="/">Pagina Inicial</a>
        </div>
      </div>
    </div>
  </div>
