<p-toast></p-toast>

<body class="ng-scope">
  <div id="container">
    <div>

      <div class="ng-scope">
        <div class="header-modal">
          <h2 class="container-title">Atualizar Transação</h2>
          <p-button (onClick)="fecharModal()" icon="pi pi-times"
            styleClass="p-button-rounded p-button-danger"></p-button>
        </div>

        <div class="formulario-nova-transacao">

          <div>
            <mat-form-field class="mat-form-field" appearance="fill">
              <mat-label>Categoria Tipo Transação</mat-label>
              <mat-select type="text" [formControl]="transactionCategoryTypeControl"
                [(ngModel)]="updateTransactionRequestDto.category" name="category"
                (selectionChange)="defineCategoria(updateTransactionRequestDto.category)">
                <mat-option value="INCOME">Recebido</mat-option>
                <mat-option value="EXPENSE">Despesa</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!-- <div>
            <mat-form-field class="mat-form-field" appearance="fill">
              <mat-label>Divisão Categoria</mat-label>
              <mat-select type="text" [formControl]="divisionType" [(ngModel)]="updateTransactionRequestDto.division.id"
                name="divisionId">
                <mat-option *ngFor="let division of listDivision" value={{division.id}}>
                  {{division.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div> -->

          <div *ngIf="isStatusIncome">
            <mat-form-field class="mat-form-field" appearance="fill">
              <mat-label>Status da Transação</mat-label>
              <mat-select type="text" [formControl]="statusTypeControl" [(ngModel)]="updateTransactionRequestDto.status"
                name="status">
                <mat-option value="RECEIVED">Recebida</mat-option>
                <mat-option value="NOT_RECEIVED">Não Recebida</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="mat-form-field" appearance="fill">
              <mat-label>Recebimentos Fixos? (infinitas repetições)</mat-label>
              <mat-select type="text" [formControl]="fixedExpenseControl"
                [(ngModel)]="updateTransactionRequestDto.fixedExpense" name="fixedExpense"
                (selectionChange)="defineRepeticao(updateTransactionRequestDto.fixedExpense)">
                <mat-option value="true">Sim</mat-option>
                <mat-option value="false">Não</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="isRepeticao" class="mat-form-field" appearance="fill">
              <mat-label>Repete quantas vezes? Deve ser acima de 1.</mat-label>
              <input matInput type="number" class="example-right-align" [(ngModel)]="updateTransactionRequestDto.repeat"
                name="repeat">
            </mat-form-field>

            <mat-form-field class="mat-form-field" appearance="fill">
              <mat-label>Data Inicial do Recebimento</mat-label>
              <input type="text" matInput placeholder="DD/MM/AAAA" [(ngModel)]="updateTransactionRequestDto.payDay"
                name="payDay">
            </mat-form-field>
          </div>

          <div *ngIf="isStatusExpense">
            <mat-form-field class="mat-form-field" appearance="fill">
              <mat-label>Status da Transação</mat-label>
              <mat-select type="text" [formControl]="statusTypeControl" [(ngModel)]="updateTransactionRequestDto.status"
                name="status">
                <mat-option value="PAID">Paga</mat-option>
                <mat-option value="NOT_PAID">Não Paga</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="mat-form-field" appearance="fill">
              <mat-label>Despesa Fixa? (infinitas repetições)</mat-label>
              <mat-select type="text" [formControl]="fixedExpenseControl"
                [(ngModel)]="updateTransactionRequestDto.fixedExpense" name="fixedExpense"
                (selectionChange)="defineRepeticao(updateTransactionRequestDto.fixedExpense)">
                <mat-option value="true">Sim</mat-option>
                <mat-option value="false">Não</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="isRepeticao" class="mat-form-field" appearance="fill">
              <mat-label>Repete quantas vezes? Deve ser acima de 1.</mat-label>
              <input matInput type="number" class="example-right-align" [(ngModel)]="updateTransactionRequestDto.repeat"
                name="repeat">
            </mat-form-field>

            <mat-form-field class="mat-form-field" appearance="fill">
              <mat-label>Data Inicial do Pagamento</mat-label>
              <input type="text" matInput placeholder="DD/MM/AAAA" [(ngModel)]="updateTransactionRequestDto.payDay"
                name="payDay">
            </mat-form-field>
          </div>

          <div>
            <mat-form-field class="mat-form-field" appearance="fill">
              <mat-label>Descrição</mat-label>
              <input type="text" matInput placeholder="Descrição" [(ngModel)]="updateTransactionRequestDto.description"
                name="description">
            </mat-form-field>
          </div>

          <div>
            <mat-form-field class="mat-form-field" appearance="fill">
              <mat-label>Valor</mat-label>
              <input matInput type="number" class="example-right-align" placeholder="R$ 0,00"
                [(ngModel)]="updateTransactionRequestDto.amount" name="amount">
            </mat-form-field>
          </div>

          <div>
            <mat-form-field class="mat-form-field" appearance="fill">
              <mat-label>Atualizar Transação</mat-label>
              <mat-select type="text" [formControl]="updateTransactionTypeControl"
                [(ngModel)]="updateTransactionRequestDto.updateTransactionType"
                name="updateTransactionType">
                <mat-option value="ALL_EXPENSES">Todas</mat-option>
                <mat-option value="ONLY_THIS_EXPENSE">Esta apenas</mat-option>
                <mat-option value="THIS_EXPENSE_AND_FUTURE_ONES">Esta e as próximas</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="input-container ng-scope" style="margin-top: 20px">
            <button type="submit" class="btn ng-binding" (click)="atualizarTransacao(updateTransactionRequestDto)">
              Atualizar
            </button>
          </div>

        </div>

      </div>
    </div>
  </div>
</body>
