<body class="ng-scope">
  <div id="container">
    <div>
      <a class="logomd" href="/">
        <img src="../../../assets/images/coinsaver_logo-removebg-preview.png"></a>
      <div class="ng-scope">
        <h2 class="container-title">ETAPAS DO PROJETO</h2>

        <div class="etapas">
          <div>
            Levantamento de requisitos<br>
          </div>

          <div>
            Modelagem
            (<a href="../../../../assets/docs/modelagem de dados.jpeg" target="_blank" rel="noopener noreferrer" style="cursor: pointer;">banco de dados</a>)
            <!-- (<a href="../../../../assets/docs" target="_blank" rel="noopener noreferrer" style="cursor: pointer;">dados físicos</a>) -->
          </div>

          <div>
            Prototipação (<a href="../../../../assets/docs/Protótipo CoinSaver PDF.pdf" target="_blank" rel="noopener noreferrer" style="cursor: pointer;">documento</a>)
          </div>

          <div>
            Desenvolvimento (<a href="https://github.com/GabrielBobrov/coin-saver" target="_blank" rel="noopener noreferrer" style="cursor: pointer;">projeto</a>)
          </div>

          <div>
            Testes<br>
            Homologação<br>
            Build produção
          </div>
        </div>

        <div id="acoes">
          <a href="/">Voltar</a>
        </div>
      </div>
    </div>
  </div>
