<body class="ng-scope">
  <div id="container">
    <div>
      <a class="logomd" href="/">
        <img src="../../../assets/images/coinsaver_logo-removebg-preview.png"></a>
      <div class="ng-scope">
        <h2 class="container-title">ETAPAS DO PROJETO</h2>

        <div class="etapas">
          <div>
            Levantamento de requisitos<br>
            Modelagem<br>
            Prototipação<br>
          </div>

          <div>
            Desenvolvimento (<a href="https://github.com/GabrielBobrov/coin-saver" target="_blank" rel="noopener noreferrer" style="cursor: pointer;">projeto GitHub</a>)
          </div>

          <div>
            Testes<br>
            Homologação<br>
            Build produção
          </div>
        </div>

        <div id="acoes">
          <a href="/">Voltar</a>
        </div>
      </div>
    </div>
  </div>
