<mat-drawer-container class="example-container" autosize>

  <mat-drawer #drawer class="example-sidenav" mode="side">
    <div class="navbar-brand d-sm-flex menu-lateral-position">
      <a>
        <img alt="" class="img-fluid logo-pessoal" src="../../../../assets/images/coinsaver_logo-removebg-preview.png">
      </a>
    </div>

    <div>
      <p (click)="showFillerTransacoes = !showFillerTransacoes" mat-raised-button style="cursor: pointer; font-weight: bold;">CONTROLE TRANSAÇÕES</p>
      <p *ngIf="showFillerTransacoes" (click)="abrirTransacoesGeral()" style="cursor: pointer;">
        <p-button icon="pi pi-server" styleClass="p-button-rounded p-button-secondary"></p-button></p>
      <p *ngIf="showFillerTransacoes" (click)="abrirTransacoesMensal()" style="cursor: pointer;">
        <p-button icon="pi pi-calendar" styleClass="p-button-rounded p-button-success"></p-button></p>
      <p *ngIf="showFillerTransacoes" (click)="abrirModalCadastroNovaTransacao()" style="cursor: pointer;">
        <p-button icon="pi pi-plus" styleClass="p-button-rounded"></p-button></p>
      <p (click)="retornaPaginaInicialUsuarioLogado()" mat-raised-button style="cursor: pointer; font-weight: bold;">
        <p-button icon="pi pi-user" styleClass="p-button-rounded p-button-warning"></p-button></p>
      <p (click)="sairLoginUsuario()" mat-raised-button style="cursor: pointer; font-weight: bold;">
        <p-button icon="pi pi-sign-out" styleClass="p-button-rounded p-button-danger"></p-button></p>
      <!-- <p *ngIf="showFillerTransacoes"> icone > Nova Transação</p>
      <p *ngIf="showFillerTransacoes"> icone > Editar Transação</p>
      <p *ngIf="showFillerTransacoes"> icone > Pagar Transação</p>
      <p *ngIf="showFillerTransacoes"> icone > Receber Transação</p> -->
    </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <!-- <button type="button" mat-button (click)="drawer.toggle()"> -->
      <p-button (click)="drawer.toggle()" icon="pi pi-angle-double-right" styleClass="p-button-rounded p-button-warning"></p-button>
    <!-- </button> -->
  </div>

</mat-drawer-container>
