<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>COINSAVER</title>
</head>

<body data-bs-offset="120" data-bs-spy="scroll" data-bs-target="#sidebarMenu" tabindex="0" data-aos-easing="ease-out" data-aos-duration="350" data-aos-delay="0">
  <nav class="navbar pt-2 pb-3 navbar-expand-lg navbar-light" id="navbar">
    <div class="container nav-container aos-init aos-animate" data-aos="fade" data-aos-duration="280">
      <div class="collapse navbar-collapse mt-2" id="navbarSupportedContent">
        <ul class="navbar-nav flex-md-grow-1 justify-content-lg-evenly align-items-center align-lg-items-end mb-2 mb-lg-0">
          <div class="navbar-brand d-sm-flex">
            <a href="/">
              <img alt="" class="img-fluid logo-pessoal" src="../../../assets/images/coinsaver_logo-removebg-preview.png">
            </a>
          </div>
          <li class="nav-item mb-1 mb-lg-0">
            <div class="nav-link no-effect">
              <a href="/empresarial"> Para Empresas</a>
            </div>
          </li>
          <li class="nav-item mb-1 mb-lg-0">
            <div class="nav-link no-effect">
              <a href="http://www.meudinheiroinvestimentos.com.br" target="_blank"> Controle de Investimentos </a>
            </div>
          </li>
          <li class="nav-item mb-1 mb-lg-0">
            <div class="nav-link no-effect">
              <a href="/pessoal/planos">
                Planos
              </a>
            </div>
          </li>
        </ul>
        <!-- <div class="row justify-content-between align-items-center acoes">
          <div class="col-12 col-lg-4 buttons criar-conta-wrapper mb-1 mb-lg-0">
            <a class="btn default-button-2 criar-conta" (click)="showModalCadastro()"
              target="_blank">
              Criar conta grátis
            </a>
          </div>
          <div class="col-12 col-lg-4 buttons">
            <a class="btn default-button-2 entrar" (click)="abrirLoginPage()">
              Entrar
            </a>
          </div>
        </div> -->

      </div>
    </div>
  </nav>

  <app-barra-funcoes-lateral></app-barra-funcoes-lateral>

</body>
</html>
