.navbar {
  background: linear-gradient(to right,#fe801f1a 0%,#f0fcfb 200%);
}

.grafico-category {
  margin-top: -735px;
  margin-left: 400px;
  position: static;
  flex-direction: column;
}

.grafico-division-expense {
  margin-top: -474px;
  margin-left: 860px;
  position: static;
  flex-direction: column;
}

.grafico-division-income {
  margin-top: -474px;
  margin-left: 1320px;
  position: static;
  flex-direction: column;
}
