<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>COINSAVER</title>
</head>

<body data-bs-offset="120" data-bs-spy="scroll" data-bs-target="#sidebarMenu" tabindex="0" data-aos-easing="ease-out" data-aos-duration="350" data-aos-delay="0">
  <nav class="navbar pt-2 pb-3 navbar-expand-lg navbar-light" id="navbar">
    <div class="container nav-container aos-init aos-animate" data-aos="fade" data-aos-duration="280">
      <div class="collapse navbar-collapse mt-2" id="navbarSupportedContent">
        <ul class="navbar-nav flex-md-grow-1 justify-content-lg-evenly align-items-center align-lg-items-end mb-2 mb-lg-0">

          <li class="nav-item mb-1 mb-lg-0">
            <div class="nav-link no-effect">
              <a (click)="retornaPaginaInicialUsuarioLogado()"> VISÃO GERAL </a>
            </div>
          </li>
          <li class="nav-item mb-1 mb-lg-0">
            <div class="nav-link no-effect">
              <a target="_blank" (click)="abrirPerformancePage()"> PERFORMANCE </a>
            </div>
          </li>
          <li class="nav-item mb-1 mb-lg-0">
            <div class="nav-link no-effect">
              <a (click)="modalTrocarSenha()"> ALTERAR SENHA </a>
            </div>
          </li>
          <div class="navbar-brand d-sm-flex">
            <a>
              <img alt="" class="img-fluid logo-pessoal" src="../../../assets/images/coinsaver_logo-removebg-preview.png">
            </a>
          </div>
        </ul>

      </div>
    </div>
  </nav>

  <app-barra-funcoes-lateral></app-barra-funcoes-lateral>

  <div>
    <div class="table-transacoes-mensais">
      <app-table-geral></app-table-geral>
    </div>

    <!-- <div class="navbar-brand d-sm-flex logo-fundo-paginas">
      <a>
        <img alt="" class="img-fluid logo-pessoal" src="../../../../../../assets/images/coinsaver_logo-removebg-preview - BIG.png">
      </a>
    </div> -->
  </div>

</body>
</html>
