/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* @charset "UTF-8";@use "sass:meta";@use "sass:list";@font-face {
  font-family: Metropolis;
  src: url(/assets/fonts/metropolis.thin.otf?_cchid=152ab0324f4452c56f2622dc6262e9b6) format("opentype");
  font-weight: 100;
  font-style: normal
} */

@font-face {
  font-family: Metropolis;
  src: url(/assets/fonts/metropolis.thin-italic.otf?_cchid=a10db35c6f484989bb7bd80b5e06b075) format("opentype");
  font-weight: 100;
  font-style: italic
}

@font-face {
  font-family: Metropolis;
  src: url(/assets/fonts/metropolis.light.otf?_cchid=c82170e08b76657553ab939bd28e8515) format("opentype");
  font-weight: 300;
  font-style: normal
}

@font-face {
  font-family: Metropolis;
  src: url(/assets/fonts/metropolis.light-italic.otf?_cchid=2de2a64942ecaedbf0dc68270a8ce3b8) format("opentype");
  font-weight: 300;
  font-style: italic
}

@font-face {
  font-family: Metropolis;
  src: url(/assets/fonts/metropolis.regular.otf?_cchid=f7b5e589f88206b4bd5cb1408c5362e6) format("opentype");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: Metropolis;
  src: url(/assets/fonts/metropolis.regular-italic.otf?_cchid=763b44257f3ad942e107551bff15b544) format("opentype");
  font-weight: 400;
  font-style: italic
}

@font-face {
  font-family: Metropolis;
  src: url(/assets/fonts/metropolis.medium.otf?_cchid=f4bca87fd0d19e61c27dc96299c75f8c) format("opentype");
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-family: Metropolis;
  src: url(/assets/fonts/metropolis.medium-italic.otf?_cchid=60eace1cb8db8096bcd15731bd3a35a3) format("opentype");
  font-weight: 500;
  font-style: italic
}

@font-face {
  font-family: Metropolis;
  src: url(/assets/fonts/metropolis.semi-bold.otf?_cchid=2556a4f74e2c523893e6928d6e300f1c) format("opentype");
  font-weight: 600;
  font-style: normal
}

@font-face {
  font-family: Metropolis;
  src: url(/assets/fonts/metropolis.semi-bold-italic.otf?_cchid=536778d712a7064c003705580236e03f) format("opentype");
  font-weight: 600;
  font-style: italic
}

@font-face {
  font-family: Metropolis;
  src: url(/assets/fonts/metropolis.bold.otf?_cchid=dea4998b081c6c1133a3b5b08ff2218c) format("opentype");
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-family: Metropolis;
  src: url(/assets/fonts/metropolis.bold-italic.otf?_cchid=15b149fc383c85f27360a5736fa6e50d) format("opentype");
  font-weight: 700;
  font-style: italic
}

@font-face {
  font-family: Metropolis;
  src: url(/assets/fonts/metropolis.extra-bold.otf?_cchid=d7eaa8ab58ec03f16c8d08389711f553) format("opentype");
  font-weight: 800;
  font-style: normal
}

@font-face {
  font-family: Metropolis;
  src: url(/assets/fonts/metropolis.extra-bold-italic.otf?_cchid=f1e8fdf108c2af1ebb791f40c1bd1868) format("opentype");
  font-weight: 800;
  font-style: italic
}

@font-face {
  font-family: Metropolis;
  src: url(/assets/fonts/metropolis.black.otf?_cchid=de55ae52af85b8952e65d1b546992618) format("opentype");
  font-weight: 900;
  font-style: normal
}

@font-face {
  font-family: Metropolis;
  src: url(/assets/fonts/metropolis.black-italic.otf?_cchid=ef50aa42a925d3c8a52d0e6828f2c66c) format("opentype");
  font-weight: 900;
  font-style: italic
}

.footer {
  font-size: 1rem;
  background-color: #fe801f;
  text-align: center
}

.footer .social-div a {
  text-decoration: none
}

.footer .social-div a i {
  font-size: 2.5rem;
  color: #fff
}

.footer .social-div a i:hover {
  transform: scale(1.12);
  transition-duration: .2s;
  transition-property: transform
}

.footer .footer-links a {
  font-size: 1.1rem;
  position: relative;
  text-decoration: none;
  color: #fff;
  white-space: nowrap
}

.footer .footer-links a:before {
  position: absolute;
  content: "";
  background: #FFFF;
  width: 0px;
  height: 1px;
  transition: all .2s ease-in-out 0s;
  bottom: -6px;
  left: 0
}

.footer .footer-links a:hover:before {
  width: 100%
}

.footer .cnpj {
  color: #fff;
  line-height: 1.2;
  font-weight: 400;
  font-size: 1rem
}

.footer .cnpj i {
  margin: 0 .3rem
}

.footer .cnpj p {
  margin: 0
}

.navbar {
  font-size: 1rem;
  position: absolute;
  background: transparent;
  width: 100%;
  z-index: 1;
  margin-top: 2rem
}

.navbar .navbar-toggler {
  background-color: #fff
}

.navbar .navbar-toggler:focus {
  box-shadow: none
}

.navbar .collapse.show {
  position: relative;
  max-width: 100%!important;
  z-index: 1;
  width: 100%
}

.navbar .collapse.show .acoes .criar-conta {
  margin-bottom: 1rem
}

.navbar .collapse:not(.show) {
  background: transparent
}

.navbar button {
  width: auto!important
}

.navbar .navbar-brand {
  color: #fe801f;
  margin: 0;
  padding: 0
}

.navbar .navbar-brand img {
  width: 14rem;
  height: auto
}

@media (max-width: 320px) {
  .navbar .navbar-brand {
      display:none
  }
}

.navbar .navbar-nav .nav-item .nav-link a {
  font-weight: 400;
  font-size: 1.1rem;
  position: relative;
  color: #111111;
  padding: 0
}

.navbar .navbar-nav .nav-item .nav-link a:before {
  position: absolute;
  content: "";
  background: #111111;
  width: 0px;
  height: 1px;
  transition: all .2s ease-in-out 0s;
  bottom: -6px;
  left: 0
}

.navbar .navbar-nav .nav-item .nav-link a:hover:before {
  width: 100%
}

.navbar .acoes .default-button-2.entrar {
  background-color: transparent;
  color: #585858;
  border: 1px solid #585858
}

.navbar .acoes .default-button-2.entrar:hover {
  color: #fff;
  border: 1px solid #009e92;
  background-color: #009e92
}

@media (min-width: 992px) and (max-width: 1200px) {
  .navbar .acoes .criar-conta-wrapper {
      display:none
  }
}

@media (max-width: 992px) {
  .navbar .navbar-collapse.show,.navbar .navbar-collapse.collapsing {
      padding:2rem;
      border-radius: .5rem;
      background-color: #fe801f;
      color: #fff
  }

  .navbar .navbar-collapse.show .navbar-nav .nav-item .nav-link a,.navbar .navbar-collapse.collapsing .navbar-nav .nav-item .nav-link a {
      color: #fff
  }

  .navbar .navbar-collapse.show .acoes,.navbar .navbar-collapse.collapsing .acoes {
      text-align: center
  }

  .navbar .navbar-collapse.show .acoes .default-button-2.criar-conta,.navbar .navbar-collapse.collapsing .acoes .default-button-2.criar-conta {
      -webkit-transition: all .1s ease-in-out 0s;
      -moz-transition: all .1s ease-in-out 0s;
      -ms-transition: all .1s ease-in-out 0s;
      -o-transition: all .1s ease-in-out 0s;
      transition: all .1s ease-in-out 0s;
      color: #fe801f;
      background-color: #fff;
      width: 40%
  }
}

@media (max-width: 992px) and (max-width: 576px) {
  .navbar .navbar-collapse.show .acoes .default-button-2.criar-conta,.navbar .navbar-collapse.collapsing .acoes .default-button-2.criar-conta {
      width:100%
  }
}

@media (max-width: 992px) {
  .navbar .navbar-collapse.show .acoes .default-button-2.entrar,.navbar .navbar-collapse.collapsing .acoes .default-button-2.entrar {
      -webkit-transition:all .1s ease-in-out 0s;
      -moz-transition: all .1s ease-in-out 0s;
      -ms-transition: all .1s ease-in-out 0s;
      -o-transition: all .1s ease-in-out 0s;
      transition: all .1s ease-in-out 0s;
      color: #fff;
      border-color: #fff;
      width: 14.1rem;
      width: 40%
  }
}

@media (max-width: 992px) and (max-width: 576px) {
  .navbar .navbar-collapse.show .acoes .default-button-2.entrar,.navbar .navbar-collapse.collapsing .acoes .default-button-2.entrar {
      width:100%
  }
}

@media (max-width: 992px) {
  .navbar .navbar-collapse ul li {
      text-align:center
  }
}

.navbar-scroll {
  -webkit-transition: all .2s ease-in-out 0s;
  -moz-transition: all .2s ease-in-out 0s;
  -ms-transition: all .2s ease-in-out 0s;
  -o-transition: all .2s ease-in-out 0s;
  transition: all .2s ease-in-out 0s;
  -webkit-animation: fadein .2s;
  -moz-animation: fadein .2s;
  -ms-animation: fadein .2s;
  -o-animation: fadein .2s;
  animation: fadein .2s;
  position: fixed;
  z-index: 3;
  background: #fe801f;
  margin-top: 0
}

.navbar-scroll .navbar-brand img {
  -webkit-filter: grayscale(100) brightness(100) contrast(100);
  filter: grayscale(100) brightness(100) contrast(100)
}

.navbar-scroll .navbar-collapse .navbar-nav .nav-item .nav-link a {
  color: #fff
}

.navbar-scroll .navbar-collapse .navbar-nav .nav-item .nav-link a:before {
  position: absolute;
  content: "";
  background: #FFFF;
  width: 0px;
  height: 1px;
  transition: all .2s ease-in-out 0s;
  bottom: -6px;
  left: 0
}

.navbar-scroll .navbar-collapse .navbar-nav .nav-item .nav-link a:hover:before {
  width: 100%
}

.navbar-scroll .navbar-collapse .acoes .criar-conta {
  color: #fe801f;
  background-color: #fff
}

.navbar-scroll .navbar-collapse .acoes .criar-conta:hover {
  background-color: #009e92;
  color: #fff
}

.navbar-scroll .navbar-collapse .acoes .entrar {
  color: #fff;
  background-color: transparent;
  border: 1px solid #FFFF
}

.navbar-scroll .navbar-collapse .acoes .entrar:hover {
  background-color: #009e92
}

html {
  scroll-padding-top: 100px
}

html #cookie-message {
  position: fixed;
  left: 0;
  bottom: 20px;
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  z-index: 29999999
}

html #cookie-message .message-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-size: 1rem;
  margin: 0 20px;
  height: auto;
  padding: 27px;
  background-color: #404040e6;
  box-shadow: 0 8px 6px 0 #000 41%;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  color: #fff
}

@media (max-width: 992px) {
  html #cookie-message .message-content {
      flex-direction:column;
      width: 70vw
  }
}

html #cookie-message .message-content a {
  text-decoration: underline
}

html #cookie-message .message-content button {
  position: relative;
  display: block;
  width: 118px;
  height: 36px;
  line-height: 34px;
  background: #e9b425;
  border-radius: 1px;
  cursor: pointer;
  color: #000!important;
  border: none;
  box-shadow: inset 0 -2px 0 0 #000 40%;
  transition: all .3s;
  margin-left: 20px
}

@media (max-width: 992px) {
  html #cookie-message .message-content button {
      margin-top:1rem;
      height: 3rem;
      width: 30vw
  }
}

@media (max-width: 768px) {
  html #cookie-message .message-content button {
      width:50vw
  }
}

html body {
  position: relative;
  font-size: 16px;
  font-family: Metropolis
}

html body .embed-responsive-16by9 {
  padding-bottom: 56.25%
}

html body .embed-responsive {
  position: relative;
  display: block;
  height: 100%;
  overflow: hidden
}

html body .embed-responsive .embed-responsive-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0
}

html body a {
  color: inherit;
  text-decoration: inherit
}

html body a strong {
  font-weight: 500
}

html body .fa-check {
  color: #3ca33c
}

html body .fa-times {
  color: #ff4d4d
}

html body .sidebarMenu-scroll {
  width: 20%;
  position: fixed;
  background: rgba(229,229,229,.4196078431);
  padding: 1rem 0
}

html body .title-wrapper {
  text-align: center
}

html body .title-wrapper hr {
  opacity: 1;
  height: .2rem;
  width: 10rem;
  color: #fe801f;
  border-radius: 12px;
  margin-top: .8rem;
  margin-right: auto;
  margin-left: auto
}

html body .title-wrapper.text-xs-center hr {
  margin-right: auto;
  margin-left: auto
}

html body .title-wrapper.text-xs-start hr {
  margin-left: 0
}

html body .title-wrapper.text-xs-end hr {
  margin-right: 0
}

html body .title-wrapper.text-sm-center hr {
  margin-right: auto;
  margin-left: auto
}

html body .title-wrapper.text-sm-start hr {
  margin-left: 0
}

html body .title-wrapper.text-sm-end hr {
  margin-right: 0
}

html body .title-wrapper.text-md-center hr {
  margin-right: auto;
  margin-left: auto
}

html body .title-wrapper.text-md-start hr {
  margin-left: 0
}

html body .title-wrapper.text-md-end hr {
  margin-right: 0
}

html body .title-wrapper.text-lg-center hr {
  margin-right: auto;
  margin-left: auto
}

html body .title-wrapper.text-lg-start hr {
  margin-left: 0
}

html body .title-wrapper.text-lg-end hr {
  margin-right: 0
}

html body .title-wrapper.text-xl-center hr {
  margin-right: auto;
  margin-left: auto
}

html body .title-wrapper.text-xl-start hr {
  margin-left: 0
}

html body .title-wrapper.text-xl-end hr {
  margin-right: 0
}

html body .title-wrapper.text-xxl-center hr {
  margin-right: auto;
  margin-left: auto
}

html body .title-wrapper.text-xxl-start hr {
  margin-left: 0
}

html body .title-wrapper.text-xxl-end hr {
  margin-right: 0
}

html body .title-wrapper.text-center hr {
  margin-right: auto;
  margin-left: auto
}

html body .title-wrapper.text-start hr {
  margin-left: 0
}

html body .title-wrapper.text-end hr {
  margin-right: 0
}

html body .title-wrapper .h1 {
  color: #fe801f;
  font-weight: 700;
  margin: 0
}

html body .title-wrapper .h1:hover a {
  color: #009e92
}

html body .title-wrapper .h3 {
  font-size: 1.8rem;
  font-weight: 300;
  color: #111111;
  margin: 1rem 0
}

html body .title-wrapper .h3 a:hover {
  color: #2f2f2f
}

html body .title-wrapper a .h1 {
  color: #009e92
}

html body .title-wrapper a .h3 {
  color: #484848
}

html body .description-wrapper {
  font-size: 1.2rem;
  text-align: left;
  color: #585858;
  padding: 0 1rem
}

html body .default-button-1 {
  font-size: 1.2rem;
  font-weight: 500;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  color: #fff;
  background-color: #fe801f;
  border-radius: 12px;
  padding: 1rem 3rem;
  width: 30rem
}

@media (max-width: 576px) {
  html body .default-button-1 {
      width:80%;
      white-space: normal
  }
}

html body .default-button-1:hover {
  color: #fff;
  background-color: #009e92;
  border: 1px solid #009e92
}

html body .default-button-1:focus {
  box-shadow: none
}

@media (max-width: 576px) {
  html body .default-button-1 {
      width:80%
  }
}

html body .default-button-2 {
  font-size: 1rem;
  font-weight: 500;
  display: inline-block;
  padding: .51rem 2rem;
  border-radius: 30px;
  white-space: nowrap;
  text-align: center;
  background-color: #fe801f;
  color: #fff;
  border: 1px solid #fe801f
}

html body .default-button-2:hover {
  color: #fff;
  border: 1px solid #009e92;
  background-color: #009e92
}

html body .default-button-2:focus,html body .default-button-2:focus-visible {
  border: none!important
}

@media (max-width: 576px) {
  html body .default-button-2 {
      width:80vw
  }
}

html body .section-bg {
  background: linear-gradient(to right,#fafefe 0%,#f0fcfb 200%)
}

html body .gray-bg {
  background-color: #e5e5e56b
}

html body .default-border-radius {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px
}

html body .default-border-radius-left {
  -webkit-border-radius: 25px 0 0 25px;
  -moz-border-radius: 25px 0 0 25px;
  border-radius: 25px 0 0 25px
}

html body .default-border-radius-right {
  -webkit-border-radius: 0 25px 25px 0;
  -moz-border-radius: 0 25px 25px 0;
  border-radius: 0 25px 25px 0
}

html body .default-border-radius-top {
  -webkit-border-radius: 25px 25px 0 0;
  -moz-border-radius: 25px 25px 0 0;
  border-radius: 25px 25px 0 0
}

html body .default-border-radius-bottom {
  -webkit-border-radius: 0 0 25px 25px;
  -moz-border-radius: 0 0 25px 25px;
  border-radius: 0 0 25px 25px
}

html body .default-box-shadow {
  box-shadow: 0 1rem 2rem #0000000d!important
}

.button-box {
  display: flex;
  justify-content: center
}

.button-box .default-button-1 {
  text-align: center;
  max-width: 20rem;
  border-radius: 12px;
  color: #fff;
  background-color: #fe801f;
  padding: .2rem 3rem;
  font-weight: 700
}

.button-box .default-button-1:hover {
  cursor: pointer
}

.header {
  padding-top: 10rem;
  background-color: #fafefe;
  background-image: url(/assets/imgs/backgrounds/curva-homepage-pessoal.svg?_cchid=37e0b936c33d82f784884fec48f4d782);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -3.1rem;
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  -ms-animation: fadein 1s;
  -o-animation: fadein 1s;
  animation: fadein 1s
}

.header .cadastro button:hover {
  background-color: #009e92
}

.header .cadastro .title-header-banks {
  padding: 1rem;
  margin-bottom: 1rem
}

.header .cadastro .intro .title-header h1 {
  color: #fe801f;
  font-weight: 700;
  margin: 0
}

.header .cadastro .intro .title-header h2 {
  font-weight: 100;
  color: #111111;
  margin: .15rem 0
}

.header .cadastro .intro .title-header h3 {
  color: #fe801f;
  margin: 0 0 5px
}

.header .cadastro .intro .criar-conta {
  color: #111111
}

.header .cadastro .intro .criar-conta em {
  font-weight: 100;
  font-style: normal
}

.header .cadastro .intro .criar-conta h4 {
  font-weight: 100
}

@media (min-width: 768px) {
  .header .cadastro .intro .criar-conta h4 {
      white-space:nowrap
  }
}

.header .cadastro .intro .criar-conta h4 .stores {
  padding-left: .5rem
}

.header .cadastro .intro .criar-conta h4 .stores a {
  font-size: 1.2rem;
  padding-right: .5rem;
  display: inline
}

.header .cadastro .intro .criar-conta h4 .stores a:hover {
  color: #009e92
}

.header .cadastro .intro .criar-conta .email-input {
  -webkit-transition: all .2s ease-in-out 0s;
  -moz-transition: all .2s ease-in-out 0s;
  -ms-transition: all .2s ease-in-out 0s;
  -o-transition: all .2s ease-in-out 0s;
  transition: all .2s ease-in-out 0s;
  position: relative
}

.header .cadastro .intro .criar-conta .email-input input {
  -webkit-transition: all .2s ease-in-out 0s;
  -moz-transition: all .2s ease-in-out 0s;
  -ms-transition: all .2s ease-in-out 0s;
  -o-transition: all .2s ease-in-out 0s;
  transition: all .2s ease-in-out 0s;
  font-size: 1.2rem;
  font-weight: 500;
  background: transparent;
  height: 3rem;
  width: 100%;
  border-radius: 25px;
  border: 1px solid #fe801f;
  margin-right: 7rem;
  padding: .5rem 1rem;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  color: #111111
}

.header .cadastro .intro .criar-conta .email-input input:focus-visible {
  outline: none;
  border: 1px solid #009e92
}

.header .cadastro .intro .criar-conta .email-input input::placeholder {
  font-weight: 100
}

.header .cadastro .intro .criar-conta .email-input button {
  font-size: 1.2rem;
  font-weight: 500;
  white-space: nowrap;
  right: -.5%;
  width: 14rem;
  height: 3rem;
  background-color: #fff;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  border: none;
  position: absolute;
  background-color: #fe801f;
  color: #fff
}

.header .cadastro .intro .criar-conta .email-input button:hover {
  background-color: #009e92
}

@media (max-width: 768px) {
  .header .cadastro .intro .criar-conta .email-input button {
      -webkit-transition:all .2s ease-in-out 0s;
      -moz-transition: all .2s ease-in-out 0s;
      -ms-transition: all .2s ease-in-out 0s;
      -o-transition: all .2s ease-in-out 0s;
      transition: all .2s ease-in-out 0s;
      position: relative;
      width: 100%
  }
}

.header .cadastro .intro .criar-conta .detalhes-plano-gratuito :hover {
  color: #009e92
}

.header .cadastro .intro .imgs img {
  width: 37.5rem;
  height: auto
}

.header .cadastro h3.invest-info {
  text-align: center;
  color: #111111
}

.header .experimente-gratuito {
  background: #fe801f
}

.header .experimente-gratuito .avatar,.header .experimente-gratuito .avatar-empresarial {
  width: 16rem;
  height: 16rem;
  background-size: cover;
  background-position: center;
  border-radius: 50%
}

.header .experimente-gratuito .avatar-empresarial {
  background-image: url(/assets/imgs/misc/business-woman.jpeg?_cchid=468d12644c1494284b11007eb2c8b179);
  border: 1rem solid #d8d8d8
}

.header .experimente-gratuito .text-container {
  color: #fff;
  text-align: center
}

.header .experimente-gratuito .text-container a:hover {
  text-transform: none;
  color: inherit
}

.header .experimente-gratuito .text-container h1,.header .experimente-gratuito .text-container h3 {
  color: #fff;
  margin: 0;
  opacity: 1
}

.header .experimente-gratuito .text-container h3 {
  font-weight: 400;
  margin-top: .5rem
}

@media (min-width: 1200px) {
  .header .intro .criar-conta .email-input input {
      width:85%
  }

  .header .intro .criar-conta .email-input button {
      right: 45.5%
  }
}

.recursos-principais {
  color: #fe801f;
  padding: 5rem 0
}

.recursos-principais .title {
  text-align: center;
  margin-bottom: 3rem
}

.recursos-principais .title h3 {
  font-weight: 100;
  color: #111111
}

.recursos-principais .box-recursos {
  color: #585858
}

.recursos-principais .box-recursos .wrapper {
  padding: .5rem 0
}

.recursos-principais .box-recursos .wrapper .wrapper-img {
  margin-right: .5rem;
  display: inline
}

.recursos-principais .box-recursos .wrapper .wrapper-img .icon-img {
  height: 4rem;
  width: auto;
  margin: .5rem
}

.recursos-principais .box-recursos .wrapper .wrapper-text h3 {
  font-size: 1.65rem;
  font-weight: 600
}

.recursos-principais .box-recursos .wrapper .wrapper-text p {
  font-weight: 300;
  font-size: 1.1rem;
  max-width: 26rem
}

.recursos-principais .box-recursos .recursos-list {
  align-items: center;
  flex-direction: row;
  display: flex
}

@media (min-width: 0) and (max-width: 576px) {
  .recursos-principais img {
      display:none
  }

  .recursos-principais .box-recursos .wrapper {
      justify-content: center
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .recursos-principais .box-recursos .wrapper {
      justify-content:center
  }

  .recursos-principais img {
      display: none
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .recursos-principais img {
      display:none
  }
}

.conhecer {
  position: relative;
  padding: 5rem 0;
  color: #fe801f;
  background-color: #fff;
  z-index: 1
}

.conhecer .box-layer {
  position: absolute;
  z-index: -1;
  width: 100%;
  top: 44%;
  height: 7rem;
  background: #fe801f;
  background-size: 3.1rem 3.1rem
}

.conhecer .boxes {
  margin-bottom: 2rem
}

.conhecer .boxes .box-recursos {
  text-align: center;
  border-radius: 12px;
  background: #FFFF;
  padding: 2rem;
  width: 20rem;
  height: 23rem;
  margin: 1rem
}

@media (min-width: 992px) and (max-width: 1400px) {
  .conhecer .boxes .box-recursos {
      height:31rem
  }
}

.conhecer .boxes .box-recursos img {
  height: auto;
  width: 4rem;
  margin: 1rem 0
}

.conhecer .boxes .box-recursos h4 {
  font-weight: 600
}

.conhecer .boxes .box-recursos p {
  margin: 0;
  text-align: left;
  color: #111111;
  font-weight: 300
}

.conhecer .title {
  text-align: center;
  padding-bottom: 1rem
}

.conhecer .title h3 {
  font-weight: 100;
  color: #111111
}

.conhecer .experimente-gratuito h4 {
  font-weight: 300;
  color: #111111
}

.app-stores {
  position: relative
}

.app-stores .svg-wave-top {
  background-color: #fff;
  top: 0;
  bottom: 0;
  width: 100%;
  line-height: 0
}

.app-stores .svg-wave-top svg {
  display: block;
  width: 100%;
  max-height: 15rem;
  height: 10vw;
  fill: url(#grad3);
  z-index: 1
}

@media (min-width: 0) and (max-width: 576px) {
  .app-stores .svg-wave-top svg {
      height:6rem
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .app-stores .svg-wave-top svg {
      height:8rem
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .app-stores .svg-wave-top svg {
      height:10rem
  }
}

.app-stores .gray-background {
  position: absolute;
  z-index: 1;
  top: 1rem
}

.app-stores .gray-background img {
  opacity: 0;
  width: 25rem;
  height: auto
}

.app-stores .content .container .stores-div {
  text-align: center
}

.app-stores .content .container .stores-div .store-btn img {
  width: 13rem;
  height: auto
}

.app-stores .content .container .stores-div .store-btn:hover img {
  filter: brightness(.6)
}

.app-stores .content .container .title-wrapper {
  white-space: inherit
}

@media (min-width: 1200px) {
  .app-stores .content .container .title-wrapper {
      white-space:nowrap
  }
}

.app-stores .content .container .smartphone-img img {
  position: absolute;
  bottom: 2vw;
  right: 12vw;
  max-height: 30vw
}

@media (max-width: 1400px) {
  .app-stores .content .container .smartphone-img img {
      bottom:4vw;
      right: 7vw
  }
}

.recursos-exclusivos-2 .no-effect {
  border-color: transparent;
  border: none;
  outline: none
}

.recursos-exclusivos-2 .menu .nav-tabs {
  padding: .9rem;
  box-shadow: drop-shadow(.125rem .125rem .25rem rgba(200,200,200,.5));
  border-bottom: none
}

.recursos-exclusivos-2 .menu .nav-tabs .nav-item {
  position: relative
}

.recursos-exclusivos-2 .menu .nav-tabs .nav-item a {
  text-align: center;
  white-space: nowrap
}

.recursos-exclusivos-2 .menu .nav-tabs .nav-item:hover {
  cursor: pointer
}

.recursos-exclusivos-2 .menu .nav-tabs .nav-item:hover .border-active {
  width: 100%
}

@media (max-width: 768px) {
  .recursos-exclusivos-2 .menu .nav-tabs .nav-item:hover .border-active {
      display:none
  }
}

.recursos-exclusivos-2 .menu .nav-tabs .nav-item .nav-link {
  color: #959595;
  padding: 1rem
}

.recursos-exclusivos-2 .menu .nav-tabs .nav-item .nav-link .carne-leao-icon {
  width: 1.5rem;
  height: auto;
  display: block;
  margin: auto auto .5rem;
  filter: invert(66%) sepia(0%) saturate(0%) hue-rotate(201deg) brightness(90%) contrast(94%)
}

.recursos-exclusivos-2 .menu .nav-tabs .nav-item .nav-link i {
  font-size: 1.6rem
}

.recursos-exclusivos-2 .menu .nav-tabs .nav-item .nav-link:hover,.recursos-exclusivos-2 .menu .nav-tabs .nav-item .nav-link:focus,.recursos-exclusivos-2 .menu .nav-tabs .nav-item .nav-link:focus-visible {
  border-color: transparent;
  border: none;
  outline: none
}

.recursos-exclusivos-2 .menu .nav-tabs .nav-item.active .nav-link {
  color: #fe801f;
  border: 0
}

.recursos-exclusivos-2 .menu .nav-tabs .nav-item.active .nav-link .carne-leao-icon {
  filter: brightness(0) saturate(100%) invert(70%) sepia(33%) saturate(6697%) hue-rotate(134deg) brightness(101%) contrast(101%)
}

.recursos-exclusivos-2 .menu .nav-tabs .nav-item.active .border-active {
  background: #fe801f;
  width: 100%;
  height: .2rem
}

@media (max-width: 768px) {
  .recursos-exclusivos-2 .menu .nav-tabs .nav-item.active .border-active {
      display:none
  }
}

.recursos-exclusivos-2 .menu .nav-tabs .nav-item .border-active {
  position: absolute;
  content: "";
  background: #959595;
  width: 0%;
  height: .1rem;
  bottom: -6px;
  left: 0;
  transition: all .2s ease-in-out 0s
}

.recursos-exclusivos-2 .menu .nav-tabs .nav-item:last-child.active .divisor-active {
  display: none
}

.recursos-exclusivos-2 .recursos .img-recurso {
  -webkit-animation: fadein .7s;
  -moz-animation: fadein .7s;
  -ms-animation: fadein .7s;
  -o-animation: fadein .7s;
  animation: fadein .7s
}

.recursos-exclusivos-2 .recursos .nav-tabs {
  border: none;
  border-radius: none
}

.recursos-exclusivos-2 .recursos .text-recurso {
  -webkit-animation: fadein .7s;
  -moz-animation: fadein .7s;
  -ms-animation: fadein .7s;
  -o-animation: fadein .7s;
  animation: fadein .7s;
  font-weight: 300;
  font-size: 1.1rem
}

@keyframes fadein {
  0% {
      opacity: 0
  }

  to {
      opacity: 1
  }
}

@-moz-keyframes fadein {
  0% {
      opacity: 0
  }

  to {
      opacity: 1
  }
}

@-webkit-keyframes fadein {
  0% {
      opacity: 0
  }

  to {
      opacity: 1
  }
}

@-ms-keyframes fadein {
  0% {
      opacity: 0
  }

  to {
      opacity: 1
  }
}

@-o-keyframes fadein {
  0% {
      opacity: 0
  }

  to {
      opacity: 1
  }
}

@media (min-width: 768px) {
  .recursos-exclusivos-2 .recursos .text-recurso .calculadora h1 {
      white-space:nowrap
  }
}

.recursos-exclusivos-2 .recursos .text-recurso .h3 {
  color: #fe801f
}

.faq-planos .acordion,.faq-geral .acordion {
  margin: 1rem 0
}

.faq-planos .accordion-item,.faq-geral .accordion-item {
  font-size: 1.4rem;
  font-weight: 100;
  font-weight: 400;
  border: 0;
  background-color: transparent!important;
  margin: 1rem 0
}

.faq-planos .accordion-item button,.faq-geral .accordion-item button {
  font-size: 1.4rem;
  padding: .5rem 0;
  color: inherit!important;
  box-shadow: inset 0 -1px #e5e5e56b!important
}

.faq-planos .accordion-item .accordion-button:not(.collapsed),.faq-geral .accordion-item .accordion-button:not(.collapsed) {
  color: inherit!important;
  background-color: transparent!important;
  box-shadow: inset 0 -1px #e5e5e56b!important
}

.faq-planos .accordion-item .accordion-button:after,.faq-geral .accordion-item .accordion-button:after {
  background-image: none
}

.faq-planos .accordion-item .accordion-button:focus,.faq-geral .accordion-item .accordion-button:focus {
  border-color: transparent!important;
  box-shadow: inset 0 -1px #e5e5e56b!important;
  border: 0!important
}

.faq-planos .accordion-item .accordion-body,.faq-geral .accordion-item .accordion-body {
  border-radius: 12px;
  background: rgba(229,229,229,.4196078431);
  font-weight: 100
}

.faq-planos {
  color: #111111
}

.faq-planos p {
  font-size: 1.4rem;
  font-weight: 700;
  margin-top: 2rem
}

.faq-planos p a:hover {
  color: #000
}

.faq-planos .faq-inner {
  text-align: left
}

@media (max-width: 576px) {
  .faq-planos .faq-inner {
      padding:1rem
  }
}

.faq-planos .faq-inner a {
  color: #111111;
  text-decoration: none;
  font-weight: 400
}

.faq-planos .faq-inner .title {
  padding: 2rem 0
}

.faq-planos .faq-inner .title h1 {
  text-align: left;
  color: #fe801f
}

.faq-geral {
  color: #111111
}

.faq-geral p {
  font-size: 1.4rem;
  font-weight: 700;
  margin-top: 2rem
}

.faq-geral p a:hover {
  color: #000
}

.faq-geral .faq-inner {
  text-align: left
}

.faq-geral .faq-inner a {
  color: #111111;
  text-decoration: none
}

.faq-geral .faq-inner .title {
  padding: 2rem 0
}

.faq-geral .faq-inner .title h1 {
  text-align: left;
  color: #fe801f
}

.outras-duvidas .container {
  background-color: #e5e5e56b;
  border-radius: 12px;
  color: #111111
}

.outras-duvidas .container .text h1 {
  font-size: 1.4rem;
  font-weight: 700
}

.outras-duvidas .container .text p {
  font-size: 1.4rem
}

.outras-duvidas .container .buttons {
  text-align: center
}

.outras-duvidas .container .buttons .default-button-1 {
  width: 12rem;
  color: #fff;
  padding: 1rem
}
