.logo-fundo-paginas {
  opacity: 0.1;
  margin-top: -940px;
  margin-left: 650px;
  position: static;
}

.table-transacoes-mensais {
  margin-top: -710px;
  margin-left: 350px;
  margin-right: 40px;
}
