<body class="ng-scope">

  <div id="container">
    <div>
      <a class="logomd"><img src="../../../assets/images/coinsaver_logo-removebg-preview.png"></a>

      <div class="ng-scope">
        <h2 class="container-title">Cadastre-se gratuitamente</h2>
        <button type="submit" class="btn ng-binding">Cadastrar</button>
      </div>

      <div id="acoes" class="ng-scope">
        <a href="/">Cancelar</a>
      </div>
      <p class="info center">Ao se cadastrar você declara estar de acordo com nossos<br>
        <a href="/termosdeuso" target="_blank">Termos de Uso</a> e <a href="/politicasdeprivacidade"
          target="_blank">Política de Privacidade.</a>
      </p>
    </div>
  </div>
