<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>COINSAVER</title>
</head>

<body data-bs-offset="120" data-bs-spy="scroll" data-bs-target="#sidebarMenu" tabindex="0" data-aos-easing="ease-out" data-aos-duration="350" data-aos-delay="0">
  <nav class="navbar pt-2 pb-3 navbar-expand-lg navbar-light" id="navbar">
    <div class="container nav-container aos-init aos-animate" data-aos="fade" data-aos-duration="280">
      <div class="collapse navbar-collapse mt-2" id="navbarSupportedContent">
        <ul class="navbar-nav flex-md-grow-1 justify-content-lg-evenly align-items-center align-lg-items-end mb-2 mb-lg-0">

          <li class="nav-item mb-1 mb-lg-0">
            <div class="nav-link no-effect">
              <a (click)="retornaPaginaInicialUsuarioLogado()" style="cursor: pointer;"> INICIO </a>
            </div>
          </li>
          <li class="nav-item mb-1 mb-lg-0">
            <div class="nav-link no-effect">
              <a target="_blank" (click)="abrirPerformancePage()" style="cursor: pointer;"> PERFORMANCE </a>
            </div>
          </li>
          <li class="nav-item mb-1 mb-lg-0">
            <div class="nav-link no-effect">
              <a (click)="modalTrocarSenha()" style="cursor: pointer;"> ALTERAR SENHA </a>
            </div>
          </li>
          <div class="navbar-brand d-sm-flex">
            <a>
              <img alt="" class="img-fluid logo-pessoal" src="../../../assets/images/coinsaver_logo-removebg-preview.png">
            </a>
          </div>
        </ul>

      </div>
    </div>
  </nav>

  <app-barra-funcoes-lateral></app-barra-funcoes-lateral>

  <div>

    <div class="navbar-brand d-sm-flex calendario">
      <app-datepicker-selection
      (setMesAnoEvent)="recebeDataMontadaDatepicker($event)">
    </app-datepicker-selection>
    </div>

    <div class="navbar-brand d-sm-flex texto-performance">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title style="font-size: 30px;">BALANÇO MENSAL</mat-card-title>
            <img mat-card-md-image src="../../../../assets/images/balanco-mensal-imagem2.png"  alt="Logo CoinSaver">
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>No mês de {{dataUtils.retornaMesPortugues(performance?.monthlyBalance?.actualMonthName)}}, você teve um balanço de R$ {{performance?.monthlyBalance?.actualMonthBalance}}.</mat-card-content>
        <mat-card-content *ngIf="gasto && !economia">Este valor representa um GASTO de {{performance?.monthlyBalance?.previousMonthPercentageDifference}} em relação ao mês anterior.</mat-card-content>
        <mat-card-content *ngIf="economia && !gasto">Este valor representa uma ECONOMIA de {{performance?.monthlyBalance?.previousMonthPercentageDifference}} em relação ao mês anterior.</mat-card-content>
      </mat-card>
      <br>
    </div>

    <div class="navbar-brand d-sm-flex texto-performance">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title style="font-size: 30px;">ECONOMIA</mat-card-title>
            <img mat-card-md-image src="../../../../assets/images/economia-imagem.png"  alt="Logo CoinSaver">
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content *ngIf="gasto && !economia">Você GASTOU {{economy?.actualMonthPercentage}} da sua renda, já no mês anterior, você obteve {{economy?.actualMonthPercentage}}.</mat-card-content>
        <mat-card-content *ngIf="economia && !gasto">Você SALVOU {{economy?.previousMonthPercentage}} da sua renda, já no mês anterior, você obteve {{economy?.previousMonthPercentage}}.</mat-card-content>
      </mat-card>
      <br>
    </div>

    <div *ngIf="performance?.division != null" class="navbar-brand d-sm-flex texto-performance">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title style="font-size: 30px;">DIVISÃO DE GASTOS</mat-card-title>
            <img mat-card-md-image src="../../../../assets/images/divisao-gastos-imagem.png"  alt="Logo CoinSaver">
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>Sua categoria mais usada este mês foi {{performance?.division?.divisionName}}, onde GASTOU R$ {{performance?.division?.divisionSpends}}.</mat-card-content>
      </mat-card>
    </div>

  </div>

</body>
</html>
