<body class="ng-scope">
  <div id="container">
    <div>
      <a class="logomd" href="/">
        <img src="../../../assets/images/coinsaver_logo-removebg-preview.png"></a>
      <div class="ng-scope">
        <h2 class="container-title">QUEM SOMOS</h2>

        <div class="cards">

          <p-card class="cada-card" header="André Mostaro" subheader="Full Stack Software Developer"
            [style]="{ width: '350px' }">
            <ng-template pTemplate="header">
              <img alt="Card" src="../../../../assets/images/andre.jpg" />
            </ng-template>
            <p style="text-align: justify;">
              Graduado em Ciências da Computação, profissional com mais de 2 anos de experiência profissional em desenvolvimento de
              softwares Backend e Frontend.
              Também graduado em Engenharia de Produção e pós-graduado em Engenharia de Segurança do Trabalho com mais
              de 10 anos de experiência em gestão de pessoas, produção, processos, qualidade, segurança, custos e metas
              em grandes corporações.
              Trabalha como desenvolvedor da CI&T.
            </p>
          </p-card>

          <p-card class="cada-card" header="Fernando Ribeiro" subheader="Desenvolvedor Técnico Especializado"
            [style]="{ width: '350px' }">
            <ng-template pTemplate="header">
              <img alt="Card" src="../../../../assets/images/fernando.jpg" />
            </ng-template>
            <p style="text-align: justify;">
              Graduado em Ciências da Computação, profissional com quase 2 anos de experiência profissonal com desenvolvimento
              Frontend, banco de dados e low-code.
              Trabalha como desenvolvedor no Ministério da Integração e do Desenvolvimento Regional.
            </p>
          </p-card>

          <p-card class="cada-card" header="Gabriel Bobrov" subheader="Engenheiro de Software"
            [style]="{ width: '350px' }">
            <ng-template pTemplate="header">
              <img alt="Card" src="../../../../assets/images/gabriel.jpg" />
            </ng-template>
            <p style="text-align: justify;">
              Graduado em Ciências da Computação, profissional com mais de 2 anos de experiência em desenvolvimento de sistemas tanto no frontend quanto no
              backend. Trabalha desenvolvendo soluções financeiras para uma empresa telecom na fintech Compass UOL.
            </p>
          </p-card>

          <p-card class="cada-card" header="Gustavo Santana" subheader="Analista de Homologação"
            [style]="{ width: '350px' }">
            <ng-template pTemplate="header">
              <img alt="Card" src="../../../../assets/images/gustavo.jpg" />
            </ng-template>
            <p style="text-align: justify;">
              Graduado em Ciências da Computação, profissional com mais de 2 anos de experiência na área de testes de sistema, API, automação e quality assurance.
              Trabalha como analista de homologação de soluções na Stefanini Brasil.
            </p>
          </p-card>

          <p-card class="cada-card" header="Victor Hugo Ferreira" subheader="QA Analyst" [style]="{ width: '350px' }">
            <ng-template pTemplate="header">
              <img alt="Card" src="../../../../assets/images/victor hugo.jpg" />
            </ng-template>
            <p style="text-align: justify;">
              Graduado em Ciências da Computação, tem paixão por garantir a qualidade e a eficiência dos sistemas de
              software. A experiência atual tem proporcionado oportunidades de aprimorar habilidades em
              testes de software, identificar e solucionar problemas garantindo a melhor experiência do usuário e a
              satisfação do cliente ao receber o produto.
              Sempre em busca de aperfeiçoamento, aprendendo novas tecnologias e métodos para desenvolver ainda mais
              meu trabalho. Trabalha como analista de testes no Sicoob.
            </p>
          </p-card>

        </div>

        <div id="acoes">
          <a href="/">Voltar</a>
        </div>
      </div>
    </div>
  </div>
