<p-table [value]="monthlyTransactionsResponseDtoList" [tableStyle]="{'min-width': '60rem'}">
  <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
          TRANSAÇÕES DO MÊS
      </div>
  </ng-template>
  <ng-template pTemplate="header">
      <tr>
          <th pSortableColumn="description">DESCRIÇÃO <p-sortIcon field="description"></p-sortIcon></th>
          <th pSortableColumn="transactionType">TIPO TRANSAÇÃO <p-sortIcon field="transactionType"></p-sortIcon></th>
          <th pSortableColumn="amount">VALOR <p-sortIcon field="amount"></p-sortIcon></th>
          <th pSortableColumn="category">CATEGORIA <p-sortIcon field="category"></p-sortIcon></th>
          <th pSortableColumn="payDay">DATA PAGAMENTO <p-sortIcon field="payDay"></p-sortIcon></th>
          <th pSortableColumn="status">STATUS <p-sortIcon field="status"></p-sortIcon></th>
          <th>AÇÕES</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-transaction>
      <tr>
          <td>{{transaction.description}}</td>
          <td>{{transaction.transactionType}}</td>
          <td>{{transaction.amount | currency:'R$ '}}</td>
          <td>{{transaction.category}}</td>
          <td>{{transaction.payDay}}</td>
          <td>{{transaction.status}}</td>
          <td>
            <div class="flex justify-content-center flex-wrap gap-3 mb-4">
              <p-button (onClick)="pagarTransacao(transaction)" *ngIf="transaction.status == 'NOT_PAID'"  icon="pi pi-money-bill" styleClass="p-button-rounded p-button-success"></p-button>
              <p-button (onClick)="atualizarTransacao(transaction)" icon="pi pi-pencil" styleClass="p-button-rounded p-button-warning"></p-button>
              <p-button (onClick)="deletarTransacao(transaction)" icon="pi pi-times" styleClass="p-button-rounded p-button-danger"></p-button>
          </div>
          </td>
      </tr>
  </ng-template>
  <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
          Total de registros no mês {{monthlyTransactionsResponseDtoList ? monthlyTransactionsResponseDtoList.length : 0 }}.
      </div>
  </ng-template>
</p-table>
