<p-toast></p-toast>

<app-datepicker-selection
  (setMesAnoEvent)="recebeDataMontadaDatepicker($event)">
</app-datepicker-selection>

<p-table [value]="monthlyTransactionsResponseDtoList" [tableStyle]="{'min-width': '60rem'}" sortField="payDay" [sortOrder]="1">
  <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
          TRANSAÇÕES DO MÊS {{dataUtils.formataTextoTabelaMensal(date)}}
      </div>
      <!-- <app-datepicker-selection (dataEvent)="objetoData = $event"></app-datepicker-selection> -->
  </ng-template>
  <ng-template pTemplate="header">
      <tr>
          <th pSortableColumn="transactionType">TIPO TRANSAÇÃO <p-sortIcon field="transactionType"></p-sortIcon></th>
          <th pSortableColumn="description">DESCRIÇÃO <p-sortIcon field="description"></p-sortIcon></th>
          <th pSortableColumn="category">CATEGORIA <p-sortIcon field="category"></p-sortIcon></th>
          <th pSortableColumn="category">DIVISÃO <p-sortIcon field="division"></p-sortIcon></th>
          <th pSortableColumn="payDay">DATA PAGAMENTO <p-sortIcon field="payDay"></p-sortIcon></th>
          <th pSortableColumn="amount">VALOR <p-sortIcon field="amount"></p-sortIcon></th>
          <th pSortableColumn="status">STATUS <p-sortIcon field="status"></p-sortIcon></th>
          <th>AÇÕES</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-transaction>
      <tr>
          <td>{{transaction.transactionType}}</td>
          <td>{{transaction.description}}</td>
          <td>{{transaction.category}}</td>
          <td>{{transaction.division.name}}</td>
          <td>{{transaction.payDay}}</td>
          <td>{{transaction.amount | currency:'R$ '}}</td>
          <td>{{transaction.status}}</td>
          <td>
            <div class="flex justify-content-center flex-wrap gap-3 mb-4">
              <p-button (onClick)="pagarTransacao(transaction)" *ngIf="transaction.status == 'NOT_PAID'"  icon="pi pi-money-bill" styleClass="p-button-rounded p-button-success"></p-button>
              <p-button (onClick)="abrirModalUpdateTransacao(transaction)" icon="pi pi-pencil" styleClass="p-button-rounded p-button-warning"></p-button>
              <p-button (onClick)="deletarTransacao(transaction)" icon="pi pi-trash" styleClass="p-button-rounded p-button-danger"></p-button>
          </div>
          </td>
      </tr>
  </ng-template>
  <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        Total de registros no mês {{monthlyTransactionsResponseDtoList ? monthlyTransactionsResponseDtoList.length : 0 }}.
      </div>
      <div class="flex align-items-center justify-content-between">
        Saldo no mês: R$ {{monthlyResponseDto?.monthlyBalance}}
        <i class="pi" [ngClass]="{'pi-thumbs-up': isSaldoPositivo, 'pi-thumbs-down': !isSaldoPositivo}"></i>
    </div>
  </ng-template>
</p-table>
