<body class="ng-scope">
  <div id="container">
    <div>
      <a class="logomd" href="/">
        <img src="../../../assets/images/coinsaver_logo-removebg-preview.png"></a>
      <div class="ng-scope">
        <h2 class="container-title">NOSSA HISTÓRIA</h2>

        <div class="nossa-historia">
          Segundo os dados da Confederação Nacional do Comércio de Bens (CNC), cerca de 77,9% da população brasileira
          entrou no ano de 2023 com o nome restrito.<br>
          As causas desses endividamentos vão desde a falta de conhecimentos em educação financeira,
          até a falta de opções de gerenciadores financeiros para suprir as necessidades de controle das finanças pessoais.<br>
          O principal objetivo do COIN SAVER é ser uma plataforma de gestão financeira simples e intuitiva, dando total
          controle ao usuário para registrar, alterar ou apagar as suas fontes de renda e despesas geradas ao longo dos meses,
          sejam elas fixas, parceladas ou avulsas.<br>
          Como diferencial, possuimos uma interface gráfica, facilitando a visualização e compreensão dos gastos e rendas dentro do mês,<br>
          além de uma aba de performance, onde o usuário pode comparar o mês atual em relação ao mês anterior.<br>
          O COIN SAVER vem para auxiliar nas decisões da vida financeira de cada família.
        </div>

        <div id="acoes">
          <a href="/">Voltar</a>
        </div>
      </div>
    </div>
  </div>
